.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    border-bottom: 4px solid $style-color;
    margin-bottom: 10px;
    background-image: $background-img;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
    text-align: center;
}

.nav ul li {
    padding: 0 1em;
}

.nav a, .nav-toggle {
    color: $font-color;
}

.nav-toggle {
    display: none;
}