.title, .logo {
    padding: 1em 1em 1em 1em;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 1em;
    }
    
    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }

    .griddy {
        display: none;
    }
}

.logo {
    max-width: 10em;
}

.title * {
    color: $font-color;
}

.title p {
    font-style: italic;
}

.nav a {
    font-size: 2rem;
    text-decoration: none;
}
