.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    
    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}

.logo {
    max-width: 200px;
    max-height: 300px;
}

.title * {
    color: $font-color;
}

.title p {
    font-style: italic;
}

.nav a {
    font-size: 2rem;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 4px solid $style-color;
}