body {
    font-family: sans-serif;
    line-height: 1.4;
    color: #000;
}

p, td, th, li, dd {
    font-family: $main-font;
    margin-bottom: 1.4rem;
    font-size: 1.1em;
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: $header-font;
}

img {
    max-width: 100%;
}