@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


$header-font: 'Roboto', sans-serif;
$main-font: 'Slabo 27px', serif;

$font-color: #43B560;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #323633;
$background-alternative-color: #e0fbfc;

$style-color: #43B560;
$box-border: #8B4A4E;
$morkgron: #497554;
$box-border1: #8B4A4E;

$link-visited: #43B560;
$link-hover: #8B4A4E;

$code: #323633;

$background-img: url("/dbwebb/design/me/portfolio/assets/img/dark.jpg");