@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');

$header-font: 'Lato' , sans-serif; 
$main-font: 'Playfair Display' , serif;

$font-color: #18672c;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #dbe0e5;
$background-alternative-color: #e0fbfc;

$style-color: rgb(3, 190, 3);
$box-border: rgb(3, 190, 3);

$link-visited: #18672c;
$link-hover: #8B4A4E;

$code: #f5f5f5;

$background-img: url("/dbwebb/design/me/portfolio/assets/img/light.jpg");